.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.panel {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-panel {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #69d1ff;
}

.title {
  color: white;
}

.top-panel__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;

  margin: 80px auto;
}

.logo-1 {
  margin: 50px auto;

  background-color: #69d1ff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  margin-bottom: 100px;
}

.App-link {
  color: #19116c;
  list-style: none;
  padding: 10px;
  text-align: left;
  margin-left: 50px;
}

.top-panel__footer {
  position: relative;
  overflow: hidden;
}

.logo {
  width: 100%;
  height: auto;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
